.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore html report output
chromloop_analysis.html

# ignore raw data and computed results
README.html
data/README.html
data/ENCODE/*
data/UCSC/*
data/bin/*
data/Rao2014/*
data/Tang2015/*
data/Mifsud2015/*
data/factorbook/*
data/hg19/*
data/Vockley2016
data/Starick2015
data/GR_BAM
data/JASPAR2018
data/Wu2013
data/EnhancerAtlas
data/Pataskar2016
results/*
